//右边框线
@mixin afterline($color, $top, $bottom, $right) {
	content: "";
	display: block;
	width: 1px;
	background: $color;
	position: absolute;
	top: $top;
	bottom: $bottom;
	right: $right;
}
//下边框线
@mixin bottomline($color, $left, $right, $bottom) {
	content: "";
	display: block;
	height: 1px;
	background: $color;
	position: absolute;
	left: $left;
	right: $right;
	bottom: $bottom;
}
//板块标题名字
@mixin boardname() {
	float: left;
	font-size: 22px;
	font-weight: 200;
	line-height: 58px;
	color: #333;
}
//商品板块的共同样式
@mixin  goodcommon{
	transform: translate3d(0, -2px, 0);
	transition: all 0.3s;
	box-shadow:0 15px 30px rgba(0,0,0,0.2);
	z-index: 2;
}